<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
<% @js_files.each do |path| %>
  <script src="<%=path%>"></script>
<% end %>
</head>
<body ng-app="mcPanel" ng-controller="doController">
<h1>Minecraft server control panel</h1>
<div ng-hide="online">
  <h2>Minecraft image</h2>
  <div ng-show="imageLoading">Loading...</div>
  <div ng-hide="imageLoading">
    <span>{{image.name}} | {{image.id}}</span>
    <button ng-click="startServer(image.id)">Start Server</button>
  </div>
</div>
<div ng-show="online">
  <h2>Server is created</h2>
  <span>{{droplet.name}} | {{droplet.ip_address}}</span>
  <button ng-click="destroyServer(droplet.id)">Destory Server</button>
  <h2>Instructions</h2>
  <ol>
    <li>SSH into the server using either terminal or something like a <a href="https://chrome.google.com/webstore/detail/secure-shell/pnhechapfaindjhompbnflcldabbghjo?hl=en">google chrome extenstion</a> (note: do this to stop terminal from complaining $ssh -o UserKnownHostsFile=/dev/null minecraft@128.199.158.191)</li>
    <li>username: minecraft | password: 09120912</li>
    <li>Run <b><em>$ sudo screen bash ServerStart.sh</em></b> and wait...</li>
    <li>Join the game with the IP without ports and enjoy!</li>
  </ol>
  <h2>Stopping</h2>
  <ol>
    <li>You should be able to run /stop inside minecraft to stop the server. Else, add your username into the op.txt</li>
    <li>Click on destroy server and you are done! At the moment no feedback will be given whether the server is closing or not but this feature will be coming soon</li>
    <li>If the server is shutdown properly, the next time you refresh the page, you will have the option to start the new image</li>
  </ol>
</body>
</html>
